.menu-page {

}



.first-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.first-block .text p {
    font-size: 30px;
}

.first-block .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.first-block .icon-holder {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    margin-right: 25px;

    background: black;
    border-radius: 22px;
}

.first-block .icon-holder a {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    background: black;
    border-radius: 22px;
}

.first-block svg {
    width: 30px;
    height: 30px;
    fill: white;
}

.first-block .cart .count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(205, 25, 30);

    width: 22.5px;
    height: 22.5px;
    right: 7.5px;
    top: 10px;
    border-radius: 100%;
}



.selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 250px;
}

.selector .tab {
    transition: 0.25s ease-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 45px;

    color: black;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
}

.selector .active {
    width: 125px;
    background: white;
}



.food-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 25px;
    margin-top: 50px;
}

.food-holder .card {
    height: 205px;
    border-radius: 35px;
    margin: 0 25px 75px 25px;
}

.food-holder .roll {
    align-items: flex-start;
}

.food-holder .roll h3 {
    font-size: 16px;
    padding-left: 15px;
}

.food-holder .roll p {
    font-size: 14px;
    padding-left: 15px;
}

.food-holder .add {
    align-self: flex-end;
    top: -35px;
    left: -10px;
}